@model Introducao.Models.Pessoa

@{
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>

<div>
    <b>@Html.LabelFor(x => x.idPessoa)</b>
</div>
<div>
    @Model.idPessoa
</div>
<div>
    <b>@Html.LabelFor(x => x.nomePessoa)</b>
</div>
<div>
    @Model.nomePessoa
</div>
<div>
    <b>@Html.LabelFor(x => x.tipoFuncionario)</b>
</div>
<div>
    @Model.tipoFuncionario
</div>

<!-- 1º O que vai aparecer
     2º A Action que vai chamar
     3º Controlador que pertence
    -->
@Html.ActionLink("Voltar", "Index", "Home")